@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  padding-bottom: 0;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-img {
  justify-items: center;
  width: 20%;
  margin-top: 15%;
}

#subscribe-container {
  width: 90%;
}

#sub-and-not-text {
  margin-bottom: 2rem;
}

p {
  font-size: 16px;
}

#db-img {
  width: 100%;
}

#input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#input,
#btn {
  outline: none;
  padding: 1rem;
  border-radius: 2rem;
}

#input {
  color: #969696;
}

.input-no-error {
  border: 1px solid #c2d3ff;
}

.input-error {
  border: 1px solid #ff5263;
}

#btn {
  background-color: #4f7df3;
  color: #ffffff;
  border: none;
}

#btn:hover {
  cursor: pointer;
  background-color: #4f7df3be;
  transition: background-color 0.25s ease-in-out;
}

#error-msg {
  color: #ff5263;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

h1 {
  font-weight: 300;
}

.soon-text {
  font-size: 22px;
  letter-spacing: 0.13rem;
}

#soon {
  display: inline;
  font-weight: 700;
}

#btn {
  font-weight: 600;
}

#cr-link-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.link-container {
  outline: 1px solid #c2d3ff;
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#links {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

#links img {
  filter: invert(43%) sepia(66%) saturate(854%) hue-rotate(193deg)
    brightness(96%) contrast(98%);
}

footer {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 1em;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

footer p {
  color: #969696;
}

@media only screen and (min-width: 481px) {
  #container {
    width: 50%;
    margin: 0 auto;
  }

  #logo-img {
    width: 20%;
    margin-top: 10%;
  }

  #input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1rem;
    grid-template-areas:
      "input input button"
      "error error none";
  }

  #input {
    grid-area: input;
  }

  #btn {
    grid-area: button;
  }

  #error-msg {
    grid-area: error;
    margin-bottom: none;
  }

  #links {
    width: 15%;
  }

  a:hover {
    background-color: #4f7df3;
    transition: background-color 0.25s ease-in-out;
  }

  #links a:hover img {
    filter: invert(100%) sepia(15%) saturate(0%) hue-rotate(37deg)
      brightness(106%) contrast(102%);
    transition: filter 0.25s ease-in-out;
  }
}

@media only screen and (min-width: 1024px) {
  #container {
    width: 40%;
    margin: 0 auto;
  }

  #logo-img {
    width: 15%;
    margin-top: 5%;
  }

  #links {
    width: 10%;
  }
}
